body {
	background-color: white;
}
* {
	color: inherit;
}
a:link, a:visited {
	color: inherit;
}
span:hover {
	text-decoration: underline;
}

h1 {
	text-align: center;
}
h3 {
	text-decoration: underline;
}

.rules {
	margin-bottom: 3px;
}
.row { 
	display: flex;
	justify-content: center;
}
.secret:hover {
	text-decoration: none;
}
.checkMark {
	position: absolute;
	height: 109px;
	font-size: 109px;
	z-index: 2;
	display: flex;
	align-items: center;
}
.checkMark:hover {
	text-decoration: none;
}

.table { 
	margin: auto;
}
.tableRow { 
	display: flex;
	justify-content: center;
	clear: both; 
	overflow: hidden; 
}
.cell { 
	border: 1px solid black; 
	float: left;
	width: 109px; 
	height: 109px;
	display: flex;
	text-align: center;
	align-items: center;
	word-wrap: normal;
	justify-content: center;
	padding: 4px;
	font-size: 15px;
}

/*Thickens the outside borders to match width*/
#b0, #b1, #b2, #b3, #b4 {
	border-top-width: 2px;
}
#b0, #b5, #b10, #b15, #b20 {
	border-left-width: 2px;
}
#b4, #b9, #b14, #b19, #b24 {
	border-right-width: 2px;
}
#b20, #b21, #b22, #b23, #b24 {
	border-bottom-width: 2px;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.cell {
		width: 60px;
		height: 60px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.cell {
		width: 81px;
		height: 81px;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.cell {
		width: 81px;
		height: 81px;
	}
}